$white: #ffffff;
$black: #000000;

$input-color: #566973;
$main-color: #ef5350;



//Fonts
$main-font: 'SourceSansPro-Regular', Arial, sans-serif;
$bold-font: 'SourceSansPro-Bold', Arial, sans-serif;
$black-font: 'SourceSansPro-Black', Arial, sans-serif;
$semi-bold-font: 'SourceSansPro-Semibold', Arial, sans-serif;


// Sizes
$base-font-size: 16px;


$content-size: 1240px;
$laptop-size: 1239px;
$tablet-size: 1020px;
$phone-size: 767px;